.t {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid rgb(235, 227, 227);
  background-color: rgb(235, 227, 227);
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.t-icon {
  width: 15px;
  height: 15px;
}
.t-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(110, 36, 18);
  position: absolute;
  cursor: pointer;
}
